/* alter default styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

:root {
  /* colors */
  --main-color: #ff9f0d;
  --text-color: #fff;
  --other-color: #212121;
  --second-color: #9e9e9e;
  --bg-color: #111111;

  /* fonts */
  --big-font: 4.5rem;
  --h2-font: 2.6rem;
  --p-font: 1.1rem;

  /* borders */
  --border-main: #ff9f0d 0 1px 25px;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

/********** HEADER  **********/
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 14%;
  transition: all 0.5s ease;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: 33px;
  font-weight: 700;
}

.logo i {
  vertical-align: middle;
  margin-right: 8px;
  color: var(--main-color);
}

.nav-list {
  display: flex;
}

.nav-list a {
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 600;
  margin: 0 30px;
  transition: all 0.5s ease;
}

.nav-list a:hover {
  color: var(--main-color);
}

.nav-list a.active {
  color: var(--main-color);
}

.nav-icons {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  background: var(--main-color);
  border-radius: 3rem;
  box-shadow: var(--border-main);
}

.nav-icons i {
  vertical-align: middle;
  font-size: 25px;
  color: var(--bg-color);
  margin-right: 8px;
  margin-left: 5px;
  transition: all 0.5s ease;
}

#menu-icon {
  font-size: 32px;
  color: var(--bg-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.nav-icons i:hover {
  transform: scale(1.1);
  color: var(--text-color);
}

/********** HEADER  **********/
section {
  padding: 70px 14% 60px;
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.home-img img {
  width: 100%;
  height: auto;
}

.home-text h1 {
  font-size: var(--big-font);
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 3rem;
}

span {
  color: var(--main-color);
}

.btn {
  display: inline-block;
  padding: 15px 35px;
  background-color: var(--other-color);
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 3rem;
  transition: all 0.5s ease;
}

.btn i {
  vertical-align: middle;
  margin-left: 9px;
  font-size: 22px;
}

.btn:hover {
  background: var(--main-color);
  color: var(--text-color);
  box-shadow: var(--border-main);
}

.btn2 {
  display: inline-block;
  margin-left: 30px;
  font-size: var(--p-font);
  font-weight: 500;
  letter-spacing: 1px;
  border-bottom: 3px solid var(--main-color);
  color: var(--main-color);
  transition: all 0.5s ease;
}

.btn2:hover {
  transform: scale(1.1) translateX(12px);
}
